.heading{
    text-align: center;
}
.bg{
    /* background: blue; */
}
.mx-auto{
    margin: auto;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .AC{
    /* padding-left: 11px; */
} 
*/